%p= "Hey #{@user.name},"
%p Programming is tough, and so is learning a new programming language. To fight through the hard parts, you need the support of other people on the same path.
%p Originally, LevelUpRails was launched as a way to more efficiently onboard employees to one company. We've grown from that original goal, and now the vast majority of LevelUpRails users are independent learners. And while corporate users have lots of in-person support for their learning, we haven't had a good way to do that for independent folks until now.
%p Which is why we're excited to say that we're now available to help -- for free -- on Slack. Whether you're part of a company, learning a new stack, or trying to transition into a career in programming, we're here to help you. As you learn more, you can help others get the support they need to.
%p
  You'll need an invite, so 
  %a{href: 'https://levelupslackinvites.herokuapp.com/'} go get one
  and join us.
%br
%p= "I'll see you there. - Joe (jmmastey@gmail.com)"
