- progress = category_progress_for(user)
- unless progress.empty?
  .bs-component.skill-table
    .panel
      .panel-heading
        %h4 Skill Progress
      .panel-body
        = render partial: 'progress_bars', locals: { category_progress: progress }
