- if (@user == current_user || current_user.admin?) && @user.enrollments.any?
  .row
    .col-md-12
      %h4 Burndown
      = render partial: 'progress_chart'

- if @user.skills.any?
  .row
    .col-md-12
      %h4 Skill Progress
      = render partial: 'progress_bars'
