%table.table.table-striped.table-hover
  %tr
    %th Category
    %th Completion
  - user_category_summary.each do |handle, category|
    %tr{class: handle}
      %td= category[:name]
      %td= "#{category[:total_completed]} / #{category[:total_skills]}"
