.panel-heading
  %h3 More Resources
.panel-body
  %p.resource If you need a basic refresher on SQL concepts, the <a href='http://www.postgresqltutorial.com/'>Postgres Tutorial</a> is a fantastic resource.
  %p.resource Good alternate tutorials include <a href='http://www.techonthenet.com/sql/'>this tutorial</a>, which has exercises of its own, and <a href='http://sqlbolt.com'>SQLBolt</a>, which allows you to write SQL statements in your browser.
  %p.resource Check out this <a href='https://speakerdeck.com/jamis/voila-indexes-a-look-at-some-simple-preventative-magick'>great talk</a> on database indexes.
  %p.resource You should understand the basics of data normalization (up to the so-called "Third Normal Form"). <a href='http://www.bkent.net/Doc/simple5.htm#label4.2'>Here's a decent primer</a> with a minimum of unnecessary detail.
  %p.resource There is an emerging standard for APIs coming out of Rails; read about it in <a href='http://www.designinghypermediaapis.com'>Designing Hypermedia APIs</a>. Look for a copy in the library.
  %p.resource Come get you some <a href='https://github.com/jmmastey/level_up_exercises'>Exercises Repo</a>

= render partial: 'modules/exercises'
