.panel-heading
  %h3 Exercises From This Lesson
.panel-body
  - current_skills.each do |skill|
    - klass = current_user.has_completed?(skill) ? "fa-check-circle-o" : "fa-circle-o"
    %p{class: "fa #{klass} dot-#{skill.handle}"}
      %a{href: "##{skill.handle}"}= skill.name
