.panel.panel-default.exercise
  .panel-heading
    %h3.panel-title
      .fa.fa-question-circle
      = "Exercise: #{block.skill.name} "
  .panel-body

    %ol
      - block.content.each do |contents|
        %li= contents

    .completion
      - if signed_in?
        .fa.fa-spinner.fa-spin.spinner
        %button{ class: completion_classes(block), target: skill_complete_path(block.skill) }
          %i.fa.fa-square-o
          %i.fa.fa-check-square-o
          Complete
