.panel-heading
  %h3 More Resources
.panel-body
  %p.resource
    %a{href:'http://tldp.org/LDP/Bash-Beginners-Guide/html/'} The Bash Beginner's Guide
  %p.resource
    The <a href='http://www.git-scm.com/book'>Git Book</a> is usually considered the canonical way to learn git.
  %p.resource Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  %p.resource.last Praesent quam lorem, scelerisque sit amet ipsum vitae, posuere facilisis tellus. 
