.panel-heading
  %h3 More Resources
.panel-body
  %p.resource The <a href='http://tldp.org/LDP/Bash-Beginners-Guide/html/'>Bash Beginner's Guide</a> is a solid tutorial on using bash.
  %p.resource The <a href='http://www.git-scm.com/book'>Git Book</a> is usually considered the canonical way to learn git.
  %p.resource A solid tutorial on deployment using <a href='http://alphahydrae.com/2013/06/god-unicorns-and-nginx/'>God, Unicorn and nginx</a>.
