.panel-heading
  %h3 More Resources
.panel-body
  %p.resource Obligatory link to <a href='https://www.codeschool.com/paths/ruby'>Codeschool Tutorials</a>, especially <a href='https://www.codeschool.com/code_tv/soup-to-bits-rails-for-zombies'>this video</a> where they build an app from scratch.
  %p.resource When you're looking for an overview on a rails feature, you should spend a lot of time reading the <a href='http://guides.rubyonrails.org/'>Rails Guide</a>.
  %p.resource <a href='http://vimeo.com/87306786'>This talk on real world Rails</a> is by Josh Cheek, who worked with us for a few years.
  %p.resource Forgot the <a href='https://github.com/jmmastey/level_up_exercises'>exercises repo</a> already?

= render partial: 'modules/exercises'
