.panel-heading
  %h3 More Resources
.panel-body
  %p.resource CodeSchool has some of the best beginner tutorials on <a href=''>Ruby</a>, <a href=''>Rails</a> and <a href=''>Rspec</a> around.
  %p.resource Did you find the <a href='https://github.com/jmmastey/level_up_exercises'>exercises repo</a>?

= render partial: 'modules/exercises'
