.panel-heading
  %h3 More Resources
.panel-body
  %p.resource CodeSchool has some of the best beginner tutorials on <a href='https://www.codeschool.com/paths/ruby'>Ruby, Rails and Rspec</a> around.
  %p.resource Once you've done the RubyBits tutorial on CodeSchool, practice writing some basic code and learn more syntax with the <a href='https://koans.heroku.com/en'>Ruby Koans</a>.
  %p.resource After that, get some practice writing small programs (and get some feedback) with <a href='http://exercism.io/'>Exercism</a>
  %p.resource This Thoughtbot <a href='https://github.com/thoughtbot/guides/tree/master/style#ruby'>style guide</a> isn't as focused, but it is pretty fantastic. See also the canonical <a href='https://github.com/styleguide/ruby'>Ruby</a> and <a href='https://github.com/bbatsov/rails-style-guide'>Rails</a> style guides.
  %p.resource If you want to automate checking for style guide violations, check out the <a href='https://github.com/bbatsov/rubocop'>Rubocop</a> gem. The exercise repo has a config for it already.

  .resource
    Sharpen some specifics skills at RubyTapas. Especially look at:
    %ul
      %li <a href='http://www.rubytapas.com/episodes/33-Classes-and-Constants'>Classes and Constants</a>
      %li <a href='http://www.rubytapas.com/episodes/36-Blocks-Procs-and-Lambdas'>Blocks, Procs and Lambdas</a>
      %li <a href='http://www.rubytapas.com/episodes/59-Enumerator'>Enumerators</a>
      %li <a href='http://www.rubytapas.com/episodes/80-Splat-Basics'>Splat Basics</a>
      %li <a href='http://www.rubytapas.com/episodes/39-Gem-Love-Part-1'>Gem Basics</a>
      %li <a href='http://www.rubytapas.com/episodes/82-Inline-Assignment'>Inline Assignment</a>
      %li <a href='http://www.rubytapas.com/episodes/24-Incidental-Change'>Incidental Change</a>
      %li <a href='http://www.rubytapas.com/episodes/87-Naming-Head-Count'>Naming</a>
      %li <a href='http://www.rubytapas.com/episodes/101-Intention-Revealing-Message'>Revealing Intent</a>
      %li <a href='http://www.rubytapas.com/episodes/108-The-Trouble-with-nil'>Dealing with Nil</a>

  %p.resource Did you find the <a href='https://github.com/jmmastey/level_up_exercises'>exercises repo</a>?

= render partial: 'modules/exercises'
