.panel-heading
  %h3 More Resources
.panel-body
  %p.resource <a href='http://guides.rubyonrails.org/v3.2.13/performance_testing.html'>Rails Guide</a>
  %p.resource <a href='http://railscasts.com/episodes/368-miniprofiler'>RailsCast on MiniProfiler</a>
  %p.resource <a href='http://samsaffron.com/archive/2012/07/12/miniprofiler-ruby-edition'>Miniprofiler Ruby Edition</a>
  %p.resource <a href='http://martin.kleppmann.com/2008/10/27/load-performance-testing-a-rails-application-with-apachebench.html'>Apache Bench</a>
  %p.resource <a href='http://blog.newrelic.com/2009/06/25/load-testing-rails-new-railslab-episode/'>NewRelic RailsLab</a>
  %p.resource <a href='https://loader.io/'>Loader.io</a>
  %p.resource <a href='http://guides.rubyonrails.org/caching_with_rails.html'>Caching with Rails</a>
  %p.resource <a href='http://on-ruby.blogspot.com/2006/12/benchmarking-lies-and-statistics.html'>Benchmarking, Lies and Statistics</a>
  %p.resource <a href='https://devcenter.heroku.com/articles/http-caching-ruby-rails'>HTTP Caching in Rails</a>
  %p.resource You're really going to need the <a href='https://github.com/jmmastey/level_up_exercises'>Exercises Repo</a>

= render partial: 'modules/exercises'
