.panel-heading
  %h3 More Resources
.panel-body
  %p.resource You're really going to need the <a href='https://github.com/jmmastey/level_up_exercises'>Exercises Repo</a>

= render partial: 'modules/exercises'
