.panel-heading
  %h3 More Resources
.panel-body
  %p.resource The excellent <a href='http://railscasts.com/episodes/368-miniprofiler'>RailsCast on MiniProfiler</a> to show you some neat functionality, and the introduction to <a href='http://samsaffron.com/archive/2012/07/12/miniprofiler-ruby-edition'>that same profiler</a>.
  %p.resource To test your app's performance degredation at scale, try using something like <a href='http://martin.kleppmann.com/2008/10/27/load-performance-testing-a-rails-application-with-apachebench.html'>Apache Bench</a>. Or alternatively, <a href='https://loader.io/'>Loader.io</a> wants to do it for you.
  %p.resource Your benchmarks may be bullshit. Read more about <a href='http://on-ruby.blogspot.com/2006/12/benchmarking-lies-and-statistics.html'>Benchmarking, Lies and Statistics</a>.
  %p.resource You should read the Heroku guide to <a href='https://devcenter.heroku.com/articles/http-caching-ruby-rails'>HTTP Caching in Rails</a>.
  %p.resource A <a href='http://ninjasandrobots.com/rails-caching-a-problem-with-etags-and-a-solution'>discussion and solution</a> of a possible problem you'll face with eTags.
  %p.resource You're really going to need the <a href='https://github.com/jmmastey/level_up_exercises'>Exercises Repo</a>.

= render partial: 'modules/exercises'
