.panel-heading
  %h3 More Resources
.panel-body
  %p.resource It's dangerous to go alone. Take the <a href='https://github.com/jmmastey/level_up_exercises'>exercises</a>.

= render partial: 'modules/exercises'
