.panel-heading
  %h3 More Resources
.panel-body
  %p.resource The creator of Rspec created a decent <a href='http://blog.davidchelimsky.net/blog/2007/05/14/an-introduction-to-rspec-part-i/'>beginning tutorial</a>, but if you need more coverage (ha!), grab a copy of the Rspec book from the library.
  %p.resource A good place to start understanding BDD is <a href='https://blog.engineyard.com/2009/cucumber-introduction'>this article</a> on BDD via Cucumber by Engine Yard.
  %p.resource Once you've read that, RailsCasts did two good episodes [<a href='http://railscasts.com/episodes/155-beginning-with-cucumber'>1</a>, <a href='http://railscasts.com/episodes/159-more-on-cucumber'>2</a>] on Cucumber.
  %p.resource It's dangerous to go alone. Take the <a href='https://github.com/jmmastey/level_up_exercises'>exercises</a>.

= render partial: 'modules/exercises'
