.content.module
  .page-header
    %h1 Not a real module.

  .row
    .col-lg-8
      %p Joe wrote himself into a corner about this whole "rendering a content module" approach, so instead of loading the seeds file, I exist. Bad Joe.

      .page-header
        %h3 None of this even matters.
        %p But I feel like it should be here anyway.

        - @module.skills.each do |skill|
          = exercise_block_for @module.handle, skill.handle do |e|
            = e.question "I am a fake question block, bro. Great work!"

    .col-lg-4.resources{role:'complementary'}
      .bs-component
        .panel.panel-basic
          = render partial: 'modules/ruby_resources'
