.content.module
  .page-header
    %h1 Linux and Shell Utilities

  .row
    %blockquote
      %p This is some kind of short quip, because why not, amirite?
      %small someone

    .col-lg-8

      .page-header
        %h3 Everything is a File

      .page-header
        %h3 Paths, Directories and Changing Path

      .page-header
        %h3 Managing File Permissions

      .page-header
        %h3 Why You Shouldn't Use sudo

      .page-header
        %h3 Monitoring System Resources

      .page-header
        %h3 What's a Port and How to Find It

      .page-header
        %h3 Finding and killing processes

      .page-header
        %h3 Starting and Stopping Services

      .page-header
        %h3 Paths, Directories and Changing Path

      .page-header
        %h3 Starting and Stopping Services

      .page-header
        %h3 Transferring Files Between Boxes

      .page-header
        %h3 Path and the Environment

      .page-header
        %h3 Git. Just Git.

      .page-header
        %h3 Monitoring Production Hardware

      .page-header
        %h3 Why We Use Web Proxies

      .page-header
        %h3 Managing Server Time (NTP)

      .page-header
        %h3 Firewalls, iptables, and nmap

    .col-lg-4.resources{role:'complementary'}
      .bs-component
        .panel.panel-basic
          = render partial: 'linux_resources'
