.content.module
  .page-header
    %h1 Tests and Testing

  .row
    .col-lg-8

      .page-header
        %h3 The Rails Philosophy
        = exercise_block_for "test", "trustno1" do |e|

        = exercise_block_for "test", "trustno1" do |e|

    .col-lg-4.resources{role:'complementary'}
      .bs-component
        .panel.panel-basic
          = render partial: 'modules/test_resources'
