%p Welcome to LevelUpRails, a challenging course to teach people to develop with the Ruby on Rails Prime stack.
%p LevelUpRails is <strong>more than a tutorial</strong>. While tutorials are great for teaching specific syntax, they fall short when it comes to teaching you all the tools you really need to develop. Instead, we want to provide you with everything you need to really be successful.

.page-header
  %h3 How We're Different

.roadmap
  %i.fa.fa-map
  %h4 Roadmap
  %p Get a complete picture of the skills you need. This is not a disjointed single-technology course. Once you finish one of our courses, you will have a usable professional skillset.

.context
  %h4 Context
  %p It's not good enough to get a list of skills or keywords. If you're going to integrate your skills together, you need to understand how they're useful. We'll spell out the real ways we use each technology, and the parts you can safely skip for now.


.context
  %h4 Resources
  %p We're not going to try to teach you everything by hand. Other folks all over the internet have done a fine job on that front. Instead, we'll point you toward the easiest, most efficient resources to learn a given skill. Use text, video, tutorials and more to become an expert.

.verification
  %i.fa.fa-scales
  %h4 Verification
  %p Finally, once you think you know the material, get real honest verification of your skills. We provide <a href='http://github.com/jmmastey/level_up_exercises'>challenging assignments</a> that will stretch you to really apply what you've just learned.

.page-header
  %h3 We'll Help You

* Slack


.page-header
  %h3 Courses

.baseline_1
  %h4 Engineering Baseline I
  %p This is the best course for learning how to do modern software development on the Rails Prime stack. Don't worry if you don't know what that means yet, we'll teach you.

.scaling
  %h4 Performance and Scaling
  %p Take your skills to the next level and learn to deal with applications that have to operate under huge load. You'll learn all the idiomatic tricks that Rails provides you to handle capacity and keep things running smoothly.

