.page-header
  %h1 Welcome to Level Up Rails
%p You haven't enrolled in any courses. Go #{link_to "take a look", courses_path} at what's on offer.


.page-header
  %h3 How It's Different


.page-header
  %h3 We'll Help You


.page-header
  %h3 Courses
