.dropoff_help_message.alert.alert-warning
  Hey, it looks like you might be stuck. That's a bummer, but it happens all the time. 
  We're here to support you and answer questions on the <a href='https://levelupslackinvites.herokuapp.com'>LevelUp Slack Channel</a>.
  This message appears because you haven't completed any exercises in a while. It'll disappear after the next time you complete an exercise.
