.content.shadow-z-2
  - cache current_user do
    - unless @courses.empty?
      .page-header
        %h1 Welcome Back. What's New?
      = render @courses
    - else
      = render partial: 'logged_out_home'
