%p So... this is awkward. Being half-crippled means this is half-done. Still, here's some modules for you:

%ul
  %li 
    %a{href:"/linux.html"} Basic Linux and Shell Utilities
  %li
    %a{href:"/ruby.html"} Basic Ruby
  %li
    %a{href:"/test.html"} Basic Test Engineering
  %li
    %a{href:"/rails.html"} Basic Ruby on Rails
