- unless @user_courses.empty?
  = render collection: @user_courses, partial: 'course_modules', as: :course, locals: { summary: @category_summary }
- else
  %p
    You haven't enrolled in any courses. Go
    = link_to "take a look", courses_path
    at what's on offer.
