.content.shadow-z-2
  .page-header
    %h1 The Deal

  .row
    .col-lg-12
      %p I created this page because it's slightly easier than explaining what this site is and how to use it. Hopefully this should be enough information to answer whatever question I thought needed answering when I sent you a link.

      %h3 What is This Thing?
      %p This is a site designed to help you get comfortable developing on the Rails Prime stack. That means Rails, Postgres, Rspec, Cucumber, etc. I either wrote or hand-picked every exercise and resource in this book because I believe that they'll help you get to the point of writing Rails apps more quickly than the alternative. I learned about all these resources during my time onboarding more than two dozen engineers on the stack.

      %h3 How Does It Work?
      %p Take a look at the homepage of this app. There are links to courses, which are meant to be done in order. Read the course page, visit and read / watch / listen to the resources that are listed, then work your way through the exercises. I don't always provide 100% direction for exercises or setup, you'll need to Google or use your wits in those cases.
      %p If you register and log in, you'll even be able to mark off your progress as you finish exercises. For code exercises, you should fork the exercises repo (from the resources) and push your changes up to that fork. For the others, use <a href='http://gist.github.com'>Github Gists</a> to store your work.
      %p Send that work to me. Repo links, web links, gists. The most valuable learning you'll do is sit down and review your existing code with someone else. I can help here.

      %h3 How Long Does it Take?
      %p That depends entirely on your time commitment. For new engineers who are spending their entire week on training I expect the process to take a little over a month. For casual study, it's up to you what your involvement looks like.
      %p Either way, let me know if this is working for you, or not working for you. My sincere hope is that you'll be successful and happy along the way.
