development:
  adapter: postgresql
  encoding: unicode
  database: changeme_development
  pool: 5
  username: changeme
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: changeme_test
  pool: 5
  username: changeme
  password:
