.panel.panel-primary.resource-block
  .panel-heading
    %h3.panel-title
      .fa.fa-map
      Resources
  .panel-body.exercises
    .list-group
      - block.resources.each do |type, title, link, text|
        %a{href: link, class: "list-group-item #{type}"}
          %h4.list-group-item-heading
            %i{class: resource_classes(type)}
            = title
          %p.list-group-item-text= text
