- completion = current_user.summary.for_category(category)
%li.list-group-item
  = link_to category.name, CategoryRouter.path_to(category)
  - if completion[:total_completed] == completion[:total_skills]
    %span.badge.success DONE!
  - else
    %span.badge #{completion[:total_completed]} of #{completion[:total_skills]}
