- completion = current_user.summary.for_user[category.handle]
%li.list-group-item
  = link_to category.name, module_path(category.handle)
  - if completion[:total_completed] == completion[:total_skills]
    %span.badge.success DONE!
  - else
    %span.badge #{completion[:total_completed]} of #{completion[:total_skills]}
