.list-group-item{ class: ['course', course.handle] }
  %h3= course.name
  - if signed_in? && course.has_enrolled?(current_user)
    %a.btn.btn-primary.btn-lg Enrolled
  - else
    = form_tag course_enroll_path(course), method: :post do 
      %button.btn.btn-primary.btn-lg Enroll
  %p Course description
