.content.shadow-z-2
  .page-header
    %h1 Courses

  - if @courses.empty?
    %p Sorry, there are no available courses for you to study. Please come back soon.

  - else
    = render collection: @courses, partial: 'signup', as: :course


  %p.clear-both So sign up already.
