.unsubscription_happened.sadface.cry-a-bit.dont-pity-me.look-just-go
  %p You have been unsubscribed from all LevelUpRails emails. We're sorry to see you go.
  %p If you try to retrieve your password, you'll still receive an email, because it wouldn't make sense not to.

  %p Anyway, keep on rocking it, and have an awesome day!
