%h2 Unsubscribe From Emails

.unsubscription_confirmation
  %p We try to send very few emails, mostly because they're boring to write. Are you sure you want to unsubscribe anyway?
  %p If you no longer wish to receive emails from us, click this link:
  %p
    %a#unsubscribe{href: "/unsubscribe/#{@link.token}"} Unsubscribe from emails
