header {
  height: 120px;

  a, a:hover, a:active, a:visited { color: #fff; text-decoration: none; }
  .home {
    margin-left:6%;
    font-size:20px;
    position:relative;
    top:40px;
  }
}

.main.container {
  position:absolute;
  top:5em;
  left:5%;
  font-size:16px;
}

.content {
  width:60%;
  background-color:white;
  padding:3%;
}

.wide-content {
  width:96%;
  background-color:white;
  padding:3%;
  margin-top:4em;
}

.panel-heading {
  border-radius:0px;
}

.page-header {
  margin-top:0px;

  h1 {
    font-size:32px;
    margin-top:0px;
    margin-bottom:5px;
  }
}

.alert-notice {
  background-color: #28b62c;
  border-color: #24a528;
  color: #ffffff;
}

.alert-alert {
  background-color: #ff851b;
  border-color: #ff7701;
  color: #ffffff;
}

.badge.success {
  background-color:#28b62c;
}

.nav {
  position: absolute;
  right: 20px;
  top: 60px;
  width: 450px;
  z-index: 100;
}

.nav li.github-signin {
  a { padding-left:0px; }
  span.support { display:none }
}

.pagination > .active > span {
  color: #ffffff;
  background-color: #158cba;
  border-color: #127ba3;
}

.linkback {
  margin-bottom:10px;
}

.feedback-link {
  position:fixed;
  bottom:0px;
  right:3em;
  margin-bottom:0px;
}

#feedback_form textarea {
  min-height:70px;
}

footer {
  margin-top:20px;
  padding:40px 0px 20px;
}
