.alert-notice {
  background-color: #28b62c;
  border-color: #24a528;
  color: #ffffff;
}

.alert-alert {
  background-color: #ff851b;
  border-color: #ff7701;
  color: #ffffff;
}

.badge.success {
  background-color:#28b62c;
}

footer {
  background:#1a1a1a;
  margin-top:60px;
  padding:40px 0px 20px;
  border-top:1px solid #e5e5e5;
  color:#999;
}
