.category {
  pre.prettyprint {
    padding:6px;
    border:1px solid #cccccc;
  }
}

.resources {
  position:absolute;
  top: 4em;
  right:0;
  width:36%;
  padding:3%;
  font-size:14px;
  
  .sidebar-skill a {
    padding-left:4px; 
  }

  .resource {
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1px solid #e5e5e5;

    &.last {
      border-bottom-width:0px;
    }
  }
}

.resource-block {
  background-size: 100px;

  .panel-title .fa {
    margin-right:4px;
  }

  .panel-body { padding:0px; }
  .list-group {
    margin-bottom:0px;
    padding-left:10px;

    .list-group-item {
      padding-top:8px;
      padding-bottom:8px;
    }

    .list-group-item-text {
      padding-left:25px;
    }

    a {
      .fa { opacity:0.3; padding-right:3px;}
      h4.list-group-item-heading { font-size:16px; margin-bottom:0px; }
    }
  }
}

.exercise {
  margin-bottom:30px;

  &:last-child {
    margin-bottom:20px;
  }

  .panel-title .fa {
    margin-right:4px;
  }

  .completion {
    float:right;
    text-align:right;

    .spinner { display:none; margin-right:4px; }
    &.active .spinner { display:inline; }

    button {
      .fa { margin-right:4px; } 

      .fa-square-o { display:inline; }
      .fa-check-square-o { display:none; }

      &.completed .fa-square-o { display:none; }
      &.completed .fa-check-square-o { display:inline; }
    }

    .feedback {
      margin-top:5px;
      display:none;
    }

    &.just_completed .feedback {
      display:block;
    }
  }
}

.difficulty {
  margin:0px 5px 5px;
  .rating { display:inline-block; margin-right:5px; }
  .dot {
    width:6px;
    height:6px;
    background-color:green;
    display:inline-block;
    border:1px solid #666;
    position:relative;
    top:9px;
    &.hard { background-color: #666; }
    &.easy { background-color: #fff; }
  }
  .exercise-count { display:inline-block; margin-left:5px; }
  .fa { margin-left:3px }
}
