.course {
  border: 0px;
  margin: 5px 5px 25px; 

  .course-photo {
    margin: 0px -15px 0px;
  }

  h1 { margin-top:10px; font-size:22px; }
  .icon img { width:60%; margin:1.5em 20%; }

  .register {
    display:block;
    width:10em;

    position:absolute;
    text-align:center;
    bottom:10px;
    left:50%;
    margin-left:-5em;
  }
  
  .categories {
    margin-top:10px;

    .list-group-item {
      padding:2px 0px;

      a {
        color: #333;
        font-size: 110%;
      }
    }

    .badge {
      min-width:55px;
    }
  }
}

.signup {
  padding: 0px;

  min-height:400px;

  h3 {
    text-align: left;
    margin: 20px;
    font-size: 22px;
  }
  .description { padding: 20px; }

  .btn {
    margin-bottom: 20px;
  }
}

@media (max-width: 1000px) {
  .signup { padding-bottom: 30px; }
  .register .btn { margin-bottom: 0px; }
}
