h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Patrick Hand SC', cursive;*/
}

.alert-notice {
  background-color: #28b62c;
  border-color: #24a528;
  color: #ffffff;
}
.alert-alert {
  background-color: #ff851b;
  border-color: #ff7701;
  color: #ffffff;
}

.module {
  pre.prettyprint {
    padding:6px;
    border:1px solid #cccccc;
  }

  .resources {
    .panel-heading {
      h1, h2, h3, h4, h5, h6 {
        margin:0px;
        /*font-family: 'Patrick Hand SC', cursive;*/
      }

    }

    .resource {
      padding-bottom:10px;
      margin-bottom:10px;
      border-bottom:1px solid #e5e5e5;

      &.last {
        border-bottom-width:0px;
      }
    }
  }
}


footer {
  margin-top:60px;
  padding:40px 0px 20px;
  border-top:1px solid #e5e5e5;

  p {
    text-align:center;
    color:#999;
  }
}
