.home-title {
  clear: both;
}

.hero, .roadmap, .support, .signups {
  margin:0px -20px 30px -20px;
  clear:both;

  img {
    margin-top: -20px;
  }

  h1, h2 {
    font-size: 150%;
    margin: 20px;
  }

  h3 {
    font-weight: bold;
    font-size: 100%;
    margin: 20px;
  }

  p {
    margin: 0px 20px;
  }

  .fa {
    color: #009688;
  }
}

.roadmap {
  .home-section {
    .fa {
      background-color: #009688;
      color: #ffffff;
      padding: 10px;
      border-radius: 20px;
      margin-right: 5px;
    }
  }
}

.home-card {
  margin-bottom:20px; 

  p {
    min-height: 10em;
  }

  button { 
    margin-left: 16px;
  }

  img {
    margin-top:0px;
  }
}

.btn:not(.btn-link).btn-lowprofile {
  color: #009688;

  &:hover {
    background-color: #fff;
  }
}
