.exercise {
  .panel-title .fa {
    margin-right:4px;
  }

  .completion {
    float:right;

    .spinner { display:none; margin-right:4px; }
    &.active .spinner { display:inline; }

    button {
      .fa { margin-right:4px; } 

      .fa-square-o { display:inline; }
      .fa-check-square-o { display:none; }

      &.completed .fa-square-o { display:none; }
      &.completed .fa-check-square-o { display:inline; }
    }
  }
}
