.module {
  pre.prettyprint {
    padding:6px;
    border:1px solid #cccccc;
  }

  .resources {
    .panel-heading {
      h1, h2, h3, h4, h5, h6 {
        margin:0px;
      }
    }

    .resource {
      padding-bottom:10px;
      margin-bottom:10px;
      border-bottom:1px solid #e5e5e5;

      &.last {
        border-bottom-width:0px;
      }
    }
  }
}

.resource-block {
  background:transparent image_url("noun_116372.png") 90% 50% no-repeat;
  background-size: 100px;

  a {
    &.text { background-color:#F5F5EB; background-color:rgba(245, 245, 235, 0.95); }
    &.video { background-color:#EBF5EB; background-color:rgba(235, 245, 235, 0.95); }
    &.tutorial { background-color:#EBEBF5; background-color:rgba(235, 235, 245, 0.95); }

    .fa { opacity:0.3; }
    h4 { font-size:16px; }
  }
}

.exercise {
  margin-bottom:30px;

  &:last-child {
    margin-bottom:20px;
  }

  .panel-title .fa {
    margin-right:4px;
  }

  .completion {
    float:right;
    text-align:right;

    .spinner { display:none; margin-right:4px; }
    &.active .spinner { display:inline; }

    button {
      .fa { margin-right:4px; } 

      .fa-square-o { display:inline; }
      .fa-check-square-o { display:none; }

      &.completed .fa-square-o { display:none; }
      &.completed .fa-check-square-o { display:inline; }
    }

    .feedback {
      margin-top:5px;
      display:none;
    }

    &.just_completed .feedback {
      display:block;
    }
  }
}

.difficulty {
  margin:0px 5px 5px;
  .rating { display:inline-block; margin-right:5px; }
  .dot {
    width:6px;
    height:6px;
    background-color:green;
    display:inline-block;
    border:1px solid #666;
    position:relative;
    top:9px;
    &.hard { background-color: #666; }
    &.easy { background-color: #fff; }
  }
  .exercise-count { display:inline-block; margin-left:5px; }
  .fa { margin-left:3px }
}
