%p.resource <a href='http://www.ibm.com/developerworks/web/library/us-cranky10/index.html'>This article</a> was a good, slightly grumpy, look at the use of the Principle of Least Surprise on webpages.
%p.resource One way to deal confidently with error conditions is the use of <a href='http://www.rubytapas.com/episodes/114-Null-Object'>Null Objects</a>, which are neat but sometimes a bit hard to work with.
%p.resource In addition to the <a href='http://www.rubytapas.com/episodes/89-Coincidental-Duplication'>tapas</a> presented with DRY, there was a <a href='http://www.rubytapas.com/episodes/92-Coincidental-Duplication-Redux'>redux episode</a> that's also worth watching.
%p.resource Watch a fairly long but interesting talk about <a href='http://www.infoq.com/presentations/agile-dsl-development-in-ruby'>DSL development in Ruby</a>.
%p.resource Here's a possibly-unrelated but <a href='https://signalvnoise.com/posts/3023-why-programs-become-territorial'>interesting article</a> on "territorial codebases" by DHH.
%p.resource Possibly unrelated, but <a href='http://confreaks.com/videos/1071-cascadiaruby2012-therapeutic-refactoring'>this talk on refactoring</a> your bad code would be a fantastic watch. It's even short.
%p.resource Looks like you don't need the exercises repo for once, so I'm not going to link it. Neener neener.
