%p.resource When playing with frontend code, one of the most useful places to muck around with code is <a href='http://jsfiddle.net'>JSFiddle</a>.
%p.resource If you've done some HTML before, but aren't familiar with the advancements in HTML5, <a href='http://diveintohtml5.info/'>Dive Into Html 5</a>
%p.resource This <a href='https://www.codeschool.com/account/courses/front-end-formations'>CodeSchool Course</a> also has decent coverage of some of the more modern selectors.
%p.resource <a href='https://smacss.com/'>SMACSS</a> is a great system for organizing your CSS and HTML
%p.resource If you're having trouble selecting the correct element, <a href='http://html5doctor.com/lets-talk-about-semantics/'>this article</a> provides a nuanced view on how hard to try, plus it has a cool flow chart!
%p.resource Voilà la <a href='https://github.com/jmmastey/level_up_exercises'>Exercises Repo</a>
