%p The Rails Prime stack runs on a Unix stack, which is to say that all production hardware (and most people's personal workstations) are some variant of that system. As such, you'll need to understand some basic Unix utilities to control your development environment. Thankfully, you don't need to be a sysadmin to navigate the waters of application development on Unix, so this will be a simple course.

.page-header
  %h3 How to Use This Website
  %p There's not much to say for this one, navigating the filesystem is possibly the most basic thing you can do. If not a Mac / Linux user, you've probably still done this before. That said, take a moment to review some basics. A really common error for newer engineers is to accidentally conflate absolute and relative path when running commands.
  %p If you could use a refresher, check out this <a href='http://linuxcommand.org/'>Linux Navigation Tutorial</a>
  = exercise_block_for "interface" do |e|
    - e.question "Every section comes with an activity to verify that you understand and can use the knowledge you've gained."
    - e.question "Some of the activities are simply questions, some include coding exercises. Get someone experienced to review your answers and code before you check off the exercise."
    - e.question "Click on the checkmark to the right to signal that you've completed the activity."

.page-header
  %h3 Getting the most out of LevelUpRails
  %p An important thing to understand when manipulating a Unix system is the principle that "Everything is a File". Ports and sockets, filesystems, directories and more are all treated as files for the purposes of manipulation. This is a benefit because it allows us a consistent way to manipulate I/O using common tools.
  %p Read <a href='https://en.wikipedia.org/wiki/Everything_is_a_file'>the Wikipedia Article</a> for more details.
  = exercise_block_for "group" do |e|
    - e.question "Name some 'files' in a standard unix filesystem that aren't very file-like."
    - e.question "Identify some places where we use file descriptors for non-file content as part of the development process (hint: sockets are a good example here)."
    - e.question "Postgres writes a file when it starts up to record some information about itself, called a 'pid file'. Find this file and display its contents. This will be really hard (impossible, really) unless you install Postgres."
