%p.resource The aforementioned <a href='http://www.amazon.com/gp/product/034553025X'>Little Book of Talent</a> is amazing for understanding how to acquire skills.
%p.resource If you're a student, take a look at the <a href='https://education.github.com/pack'>Github Student Developer Pack</a> for some free subscriptions to useful software.
%p.resource All the hard work (and the verification) happens in the <a href='https://github.com/jmmastey/level_up_exercises'>Exercises Repo</a>.
